.DS_Store
.idea
main
/pkg/imports/testdata/zettelkasten/zettel/211005p - Post-capitalism.txt
/pkg/imports/testdata/zettelkasten/zettel/211005a - P - A, N.txt
/pkg/imports/testdata/zettelkasten/zettel/211005b - P - B, M.txt
/pkg/initialize/tmp_test_init_example/
/pkg/initialize/tmp_test/
/pkg/index/testdata/zettelkasten/INDEX/
/pkg/export/testdata/zettelkasten/EXPORT/
/pkg/export/testdata/zettelkasten2/EXPORT/
